language: cpp
dist: xenial

sudo: required

matrix:
  include:
    # GCC7 Debug build
    - os: linux
      compiler: gcc
      env:
        - MATRIX_BUILD_TYPE=Debug
        - MATRIX_CC=gcc-7
        - MATRIX_CXX=g++-7
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - [g++-7, libsdl2-dev, ninja-build]
    
    # GCC7 Release build
    - os: linux
      compiler: gcc
      env:
        - MATRIX_BUILD_TYPE=Release
        - MATRIX_CC=gcc-7
        - MATRIX_CXX=g++-7
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - [g++-7, libsdl2-dev, ninja-build]

    # GCC8 Debug build
    - os: linux
      compiler: gcc
      env:
        - MATRIX_BUILD_TYPE=Debug
        - MATRIX_CC=gcc-8
        - MATRIX_CXX=g++-8
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - [g++-8, libsdl2-dev, ninja-build]
    
    # GCC8 Release build
    - os: linux
      compiler: gcc
      env:
        - MATRIX_BUILD_TYPE=Release
        - MATRIX_CC=gcc-8
        - MATRIX_CXX=g++-8
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - [g++-8, libsdl2-dev, ninja-build]

    # Clang-7 Debug build
    # - os: linux
    #   compiler: clang
    #   env:
    #     - MATRIX_BUILD_TYPE=Debug
    #     - MATRIX_CC=clang-7
    #     - MATRIX_CXX=clang++-7
    #   addons:
    #     apt:
    #       sources:
    #         - llvm-toolchain-xenial-7
    #       packages:
    #         - [clang-7, libsdl2-dev, ninja-build]
    
    # Clang-7 RelWithDebInfo (i.e. clang sanitizers) build
    # - os: linux
    #   compiler: clang
    #   env:
    #     - MATRIX_BUILD_TYPE=RelWithDebInfo
    #     - MATRIX_CC=clang-7
    #     - MATRIX_CXX=clang++-7
    #   addons:
    #     apt:
    #       sources:
    #         - llvm-toolchain-xenial-7
    #       packages:
    #         - [clang-7, libsdl2-dev, ninja-build]
 
    # # Clang Release build
    # - os: linux
    #   compiler: clang
    #   env:
    #     - MATRIX_BUILD_TYPE=Release
    #     - MATRIX_CC=clang-7
    #     - MATRIX_CXX=clang++-7
    #   addons:
    #     apt:
    #       sources:
    #         - llvm-toolchain-xenial-7
    #       packages:
    #         - [clang-7, libsdl2-dev, ninja-build]
 
before_script:
  - export CC=$MATRIX_CC
  - export CXX=$MATRIX_CXX

script:
  - uname -a
  - $CC --version
  - $CXX --version
  - cmake --version

  - mkdir -p build && cd build
  - "cmake .. -DCMAKE_BUILD_TYPE=$MATRIX_BUILD_TYPE -GNinja && ninja -v && ctest -V -j --schedule-random"

notifications:
  email: false
