version: '{build}'

environment:
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      platform: x64
      GENERATOR: Ninja
      BUILD_TYPE: Debug
      CC: cl
      CXX: cl
      OML_VS_VER: 2017
      OML_BUILD_ARGS: -v

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      platform: x64
      GENERATOR: Ninja
      BUILD_TYPE: Release
      CC: cl
      CXX: cl
      OML_VS_VER: 2017
      OML_BUILD_ARGS: -v

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      platform: x64
      GENERATOR: Ninja
      BUILD_TYPE: Debug
      CC: clang-cl
      CXX: clang-cl
      OML_VS_VER: 2017
      OML_BUILD_ARGS: -v

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      platform: x64
      GENERATOR: Ninja
      BUILD_TYPE: Release
      CC: clang-cl
      CXX: clang-cl
      OML_VS_VER: 2017
      OML_BUILD_ARGS: -v

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      platform: x64
      GENERATOR: Ninja
      BUILD_TYPE: Debug
      CC: cl
      CXX: cl
      OML_VS_VER: 2019
      OML_BUILD_ARGS: -v

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      platform: x64
      GENERATOR: Ninja
      BUILD_TYPE: Release
      CC: cl
      CXX: cl
      OML_VS_VER: 2019
      OML_BUILD_ARGS: -v

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      platform: x64
      GENERATOR: Ninja
      BUILD_TYPE: Debug
      CC: clang-cl
      CXX: clang-cl
      OML_VS_VER: 2019
      OML_BUILD_ARGS: -v

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      platform: x64
      GENERATOR: Ninja
      BUILD_TYPE: Release
      CC: clang-cl
      CXX: clang-cl
      OML_VS_VER: 2019
      OML_BUILD_ARGS: -v

install:
  - pwd
  - mkdir C:\projects\deps
  - cd C:\projects\deps
  - appveyor DownloadFile "https://github.com/ninja-build/ninja/releases/download/v1.8.2/ninja-win.zip" -FileName ninja.zip
  - 7z x ninja.zip -oC:\projects\deps\ninja > nul
  - set PATH=C:\projects\deps\ninja;%PATH%

before_build:
  - cd C:\projects\Omulator
  - call "C:\Program Files (x86)\Microsoft Visual Studio\%OML_VS_VER%\Community\VC\Auxiliary\Build\vcvars64.bat"
  - cmake --version
  - ninja --version
  - git submodule update --init --recursive

build_script:
  - mkdir build
  - cd build
  - cmake .. -G %GENERATOR% -DCMAKE_BUILD_TYPE=%BUILD_TYPE%
  - cmake --build . -j -- %OML_BUILD_ARGS%
  - ctest -V -j --schedule-random --repeat-until-fail 3
